---
import '../style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Importable Demonstration</title>
	</head>
	<body>
		<main>
			<h1>Astro Importable Demonstration</h1>

			<nav>
				<ul>
					<li>
						<a href="/yaml/">YAML</a>
					</li>
					<li>
						<a href="/machine/">State Machine</a>
					</li>
					<li>
						<a href="/document/">Document</a>
					</li>
				</ul>
			</nav>
		</main>
	</body>
</html>