---
import '../components/style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Importable Demonstration</title>
	</head>
	<body>
		<main>
			<h1>Do-Re-Mi</h1>
		</main>
	</body>
</html>
<script>
import '../components/script.ts'
</script>