---
import '../../style.css'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Importable Document Demonstration</title>
	</head>
	<body>
		<main>
			<h1>Importable Document</h1>
		</main>
	</body>
</html>
<script>
import './_/script.ts'
</script>